[submodule "5/tests/googletest"]
	path = 5/tests/googletest
	url = https://github.com/google/googletest
[submodule "6/tests/googletest"]
	path = 6/tests/googletest
	url = https://github.com/google/googletest
[submodule "8/tests/googletest"]
	path = 8/tests/googletest
	url = https://github.com/google/googletest.git
